<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/croatia.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Qui sommes-nous ?</h1>
            <h3>Raid Horizon est une association à but non lucratif créée afin de participer à l'édition 2022 de l'EUROP'RAID.</h3>
        </div>
    </div>
</div>
<div class="main">
  <div class="section">
      <div class="container text-center">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Présentation de l'association</h2>
                  <p>Raid Horizon est une association loi 1901 à but non lucratif créée par trois amis d'enfance.</p>
                  <p>Cette association a pour objectif de réaliser des évènements humanitaires en commençant par l’Edition 2022 de l’Europ’Raid !</p>
                  <br/>
                  <p>Son siège social est localisé au : 153 Route de Bonneuil-Matours, 86180 Buxerolles, France</p>
                  <p>Elle est enregistrée sous le numéro RNA (Répertoire National des Associations) <b>W863011193</b> (<a href="https://www.journal-officiel.gouv.fr/associations/detail-annonce/associations_b/20210021/1889" target="_blank">annonce</a> parue au Journal Officiel le 25/05/2021)</p>

              </div>
          </div>
      </div>
  </div>

  <div class="section section-dark text-center">
      <div class="container">
          <h2 class="title">Présentation de l'équipe</h2>
          <div class="row">
              <div class="col-md-4">
                  <div class="card card-profile card-plain">
                      <div class="card-avatar">
                          <img src="./assets/img/quentin.jpeg" alt="Photo de profil de Quentin"/>
                      </div>
                      <div class="card-block">
                          <a href="#paper-kit">
                              <div class="author">
                                  <h4 class="card-title">Quentin BESNARD</h4>
                                  <h6 class="card-category">Président</h6>
                              </div>
                          </a>
                          <p class="card-description text-center">25 ans<br/>Pilote industrialisation pour <b>SAFRAN</b><br/>"Organiser des projets et la vie associative c'est mon quotiden !"</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="card card-profile card-plain">
                      <div class="card-avatar">
                          <img src="./assets/img/maxime.png" style="position: relative; top: -10px;" alt="Photo de profil de Maxime"/>
                      </div>
                      <div class="card-block">
                          <a href="#paper-kit">
                              <div class="author">
                                  <h4 class="card-title">Maxime BATARD</h4>
                                  <h6 class="card-category">Trésorier</h6>
                              </div>
                          </a>
                          <p class="card-description text-center">25 ans<br/>Consultant en cybersécurité chez <b>FORMIND</b><br/>"Parfois, je rêve que je suis explorateur."</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="card card-profile card-plain">
                      <div class="card-avatar">
                          <img src="./assets/img/tom.jpg" style="position: relative; top: -20px;" alt="Photo de profil de Tom"/>
                      </div>
                      <div class="card-block">
                          <a href="#paper-kit">
                              <div class="author">
                                  <h4 class="card-title">Tom GODEFROY</h4>
                                  <h6 class="card-category">Secrétaire</h6>
                              </div>
                          </a>
                          <p class="card-description text-center">26 ans<br/>Chargé d'affaires en signalisation ferroviaire à la <b>SNCF</b><br/>"Je rêve d'aventure et de voyage."</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="container text-center">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Présentation de notre voiture</h2>
                  <p>Parce que cette aventure ne serait rien sans une Peugeot 205, nous vous présenterons celle qui nous accompagnera sur les routes d'Europe.</p>
              </div>

              <div class="card">
                <img class="card-img" src="./assets/img/peinture-voiture.png" alt=""/>
              </div>
          </div>
      </div>
  </div>

</div>
