<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/norway.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="">
                        <img style="width:50%; height:50%;" src="assets/img/Raid-Horizon_logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">Raid Horizon</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">EUROP'RAID 2022</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="main">

        <div class="section section-image section-login" style="background-image: url('assets/img/venise.jpg');">
              <div class="container">
                  <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-right">
                        <h2 class="title">EUROP'RAID</h2><h3 class="title">Premier raid-aventure en Europe</h3>
                        <p class="description" style="color:white;">Avec près de 10 000 km à parcourir et 20 pays à traverser, ce raid-aventure permet de découvrir l'Europe tout en participant à des actions solidaires.</p>
                        <p class="description" style="color:white;">L'objectif de cette aventure ? Apporter 70 kg de fournitures scolaires ou sportives à des enfants d'Europe de l'Est.</p>
                        <p class="description" style="color:white;">Aller à la rencontre des populations locales, découvrir de nouvelles cultures, tels sont également nos souhaits pour cette aventure unique.</p>
                        <br/>
                        <a href="https://www.youtube.com/watch?v=y1yWvVvh9bc" target="_blank" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Film de l'édition 2019</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">La particularité de cette aventure ?</h2><h3 class="title">La mythique Peugeot 205 !</h3>
                        <p class="description" style="color:white;">L'EUROP'RAID n'est pas une course mais une mission de solidarité.</p>
                        <p class="description" style="color:white;">Pour la rendre unique, seules des Peugeot 205 sont autorisées à prendre le départ. Ce véhicule français devenu incontournable depuis les années 1980/1990 de part sa fiabilité et son prix accessible.</p>
                        <p class="description" style="color:white;">Nous aurons donc à cœur d'aligner une Peugeot 205 à nos couleurs pour prendre part à cette aventure.</p>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto responsive-video">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/GftVCdTky4c" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
        </div>

        <!-- <div class="section section-dark">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div> -->

        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Vous souhaitez nous aider ?</h2>
                        <p class="">Vous pouvez au choix, faire un don sur notre campagne Hello Asso ou devenir sponsor.</p>
                        <p class="">En choisissant d'être sponsor de notre association, nous vous ferons une place de choix sur la carrosserie de notre Peugeot 205 !</p>
                        <p class="">Pour plus d'informations sur le fait de nous sponsoriser, c'est <a [routerLink]="['/sponsors']" class="">par ici</a>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.helloasso.com/associations/raid-horizon/collectes/europ-raid-2022" target="_blank" class="btn btn-primary btn-round">Je fais un don <i class="fa fa-heart"></i></a>
                        <a href="mailto:aide@raid-horizon.fr" class="btn btn-success btn-round">Contactez-nous pour devenir sponsor</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
