<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/forest.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Journal de bord</h1>
            <h3>Suivez notre aventure au quotidien.</h3>
        </div>
    </div>
</div>
<div class="main">

  <div id="navbar">

      <div class="navigation-example">
          <!-- Image dans le fichier assets/css/demo.css -->
          <nav class="navbar navbar-expand-lg navbar-transparent">
              <div class="container">
                <br/><br/><br/><br/><br/>
              </div>
          </nav>
      </div>
  </div>

    <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #7 - 01/10/2021</h6><h2 class="title">Notre premier partenaire !</h2>
                  <h5 class="description">La société <a href="https://www.fiducial.fr/" target="_blank">FIDUCIAL</a>, leader dans le service aux petites entreprises, a décidé de nous accompagner financièrement.</h5>
                  <h5 class="description">La participation de l'entreprise FIDUCIAL est de 450€, nous les en remercions chaleureusement.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #6 - 20/09/2021</h6><h2 class="title">Pré-inscription validée !</h2>
                  <h5 class="description">Ce matin, nous avons reçu le courrier que nous attendions avec impatience ... La confirmation que notre pré-inscription était validée !</h5>
                  <h5 class="description">Cela signifie que notre place dans l'édition 2022 est assurée, sous réserve que nous arrivions à rassembler l'argent nécessaire et que notre voiture veuille bien nous suivre.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #5 - 04/09/2021</h6><h2 class="title">Collecte de fournitures scolaires</h2>
                  <h5 class="description">Nous avons organisé, grâce au magasin Bureau Vallée de Saint-Benoît (Vienne), une collecte de fournitures scolaires.</h5>
                  <h5 class="description">Cet événement fut pour nous l'opportunité de parler de notre projet mais également l'occasion de voir la générosité des différentes personnes que nous avons croisées.</h5>
                  <h5 class="description">Cette collecte de fournitures scolaires est un succès pour nous et notre projet car, alors que l'organisation de l'Europ'Raid demande d'apporter 70 kg de matériels, nous avons d'ores et déjà collecté 95 kg de fournitures scolaires ! Nous souhaitons remercier chaleureusement le magasin Bureau Vallée de Saint-Benoît ainsi que toute son équipe qui nous a permis d'organiser cette collecte. Nous remercions bien évidemment tous les clients du magasin que nous avons rencontrés aujourd'hui et qui nous ont donné toutes ces fournitures.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #4 - 01/09/2021</h6><h2 class="title">Envoi du dossier de pré-inscription</h2>
                  <h5 class="description">Les pré-inscriptions sont ouvertes ! Nous avons donc terminé notre dossier et l'avons posté ce matin. On croise les doigts pour qu'il soit accepté !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #3 - 27/06/2021</h6><h2 class="title">Création de notre site Web</h2>
                  <h5 class="description">Puisque nous souhaitons communiquer avec vous de la meilleure des façons, nous avons choisi de créer notre propre site Web. Vous y trouverez quelques informations concernant l'événement, mais également tout ce qui est nécessaire pour nous sponsoriser ou faire un don à notre association.</h5>
                  <h5 class="description">Par ailleurs, au fur et à mesure de notre progression dans cette aventure, nous alimenterons cette page que nous tiendrons comme un véritable journal de bord.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #2 - 25/05/2021</h6><h2 class="title">Publication au Journal Officiel</h2>
                  <h5 class="description">La création de notre association est désormais officielle ! Sa publication au <a href="https://www.journal-officiel.gouv.fr/associations/detail-annonce/associations_b/20210021/1889" target="_blank">Journal Officiel</a> vient d'être réalisée.</h5>
                  <h5 class="description">Prochaine étape : ouvrir un compte bancaire et démarcher de potentiels sponsors !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #1 - 15/05/2021</h6><h2 class="title">Enregistrement de l'association RAID HORIZON</h2>
                  <h5 class="description">C'est le (premier) grand jour ! Après plusieurs réunions pour nous organiser, définir ce dont nous avions besoin, nous venons de déclarer notre association. C'est le premier pas vers cette nouvelle aventure. Nous avons donc choisi de nommer notre association "RAID HORIZON" !</h5>
              </div>
          </div>
          <hr/>
      </div>
  </div>

</div>
