<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/forest.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Journal de bord</h1>
            <h3>Suivez notre aventure au quotidien.</h3>
        </div>
    </div>
</div>
<div class="main">

  <div id="navbar">

      <div class="navigation-example">
          <!-- Image dans le fichier assets/css/demo.css -->
          <nav class="navbar navbar-expand-lg navbar-transparent">
              <div class="container">
                <br/><br/><br/><br/><br/>
              </div>
          </nav>
      </div>
  </div>

    <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #3 - 27/06/2021</h6><h2 class="title">Création de notre site Web</h2>
                  <h5 class="description">Puisque nous souhaitons communiquer avec vous de la meilleure des façons, nous avons choisi de créer notre propre site Web. Vous y trouverez quelques informations concernant l'événement, mais également tout ce qui est nécessaire pour nous sponsoriser ou faire un don à notre association.</h5>
                  <h5 class="description">Par ailleurs, au fur et à mesure de notre progression dans cette aventure, nous alimenterons cette page que tu tiendrons comme un véritable journal de bord.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #2 - 25/05/2021</h6><h2 class="title">Publication au Journal Officiel</h2>
                  <h5 class="description">La création de notre association est désormais officielle ! Sa publication au <a href="https://www.journal-officiel.gouv.fr/associations/detail-annonce/associations_b/20210021/1889" target="_blank">Journal Officiel</a> vient d'être réalisée.</h5>
                  <h5 class="description">Prochaine étape : ouvrir un compte bancaire et démarcher de potentiels sponsors !</h5>                  
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #1 - 15/05/2021</h6><h2 class="title">Enregistrement de l'association RAID HORIZON</h2>
                  <h5 class="description">C'est le (premier) grand jour ! Après plusieurs réunions pour nous organiser, définir ce dont nous avions besoin, nous venons de déclarer notre association. C'est le premier pas vers cette nouvelle aventure. Nous avons donc choisi de nommer notre association "RAID HORIZON" !</h5>
              </div>
          </div>
          <hr/>
      </div>
  </div>

</div>
