<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/forest.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Journal de bord</h1>
            <h3>Suivez notre aventure au quotidien.</h3>
        </div>
    </div>
</div>
<div class="main">

    <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #21 - 10/05/2022</h6><h2 class="title">Direction la peinture</h2>
                  <h5 class="description">Nous vous annonçons que nous avons envoyé notre Peugeot 205 se refaire une beauté ! Nous avons déposé notre voiture à l'AFPA de Châtelleault (86100) pour qu'elle puisse y être peinte. Nous en profitons également pour faire retaper un peu la carrosserie. Nous devrions pouvoir récupérer la voiture mi-Juin pour y apposer les stickers des différents partenaires. On vous tient informés !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #20 - 30/04/2022</h6><h2 class="title">Le retour de Victoria</h2>
                  <h5 class="description">Ce samedi 30 Avril a commencé sur les chapeaux de roues ! Nous avons été chercher notre superbe Peugeot 205 au garage Xavier Peltier basé à Danger-Saint-Romain (86220).</h5>
                  <h5 class="description">Toutes les réparations exigées par l'organisateur de l'événement ont été faites, nous sommes extrêmement reconnaissants du travail réalisé par ce garage. Par ailleurs, les travaux réalisés ont pu bénéficier à un stagiaire en reconversion professionnelle, voilà comment rendre service à tout le monde ! Merci</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #19 - 23/03/2022</h6><h2 class="title">Un nouveau partenariat noué</h2>
                  <h5 class="description">La société <a href="https://www.spp.fr/" target="_blank">SPP (Société Poitevine de Peinture)</a> rejoint notre aventure.</h5>
                  <h5 class="description">SPP vous accompagne dans vos travaux de peinture, dans l'entretien d'ouvrage, dans la pose d'isolants extérieurs mais également dans l'aménagement d'intérieur. La société est basée à Migné-Auxances (86440), n'hésitez pas à faire appel à eux.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #18 - 19/03/2022</h6><h2 class="title">Un soutien de plus !</h2>
                  <h5 class="description">Société spécialisée dans la maîtrise d'oeuvre, GODVIN et PERONNET a décidé de nous sponsoriser ! Merci beaucoup !</h5>
                  <h5 class="description">GODVIN et PERONNET est basée à Mignaloux-Beauvoir (86550) et vous propose des études de chantiers de contruction et rénovation.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #17 - 18/03/2022</h6><h2 class="title">Serait-ce un nouveau partenaire ?</h2>
                  <h5 class="description">La société <a href="https://www.formind.fr/fr/" target="_blank">Formind</a> vient de nous rejoindre en tant que partenaire ! Un grand merci à eux !</h5>
                  <h5 class="description">Société de conseil spécialisée en cybersécurité depuis sa création en 2010, la société Formind est présente un peu partout en France et même à l'étranger (au Maroc, en Espagne et au Canada). Ce partenariat s'inscrit dans une démarche RSE et colle parfaitement à l'ADN de l'entreprise.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #16 - 17/03/2022</h6><h2 class="title">Deux nouveaux partenaires</h2>
                  <h5 class="description">La SCI Franck R. a décidé de nous accompagner financièrement dans notre aventure. Merci infiniment !</h5>
                  <h5 class="description">Le club de Badminton de Buxerolles, l'ESBB86, vient de nous indiquer sa volonté d'engager un partenariat avec nous. Après nous avoir permis de présenter notre projet pendant un tournoi organisé le week-end passé, c'est un double cadeau que nous fait ce club ! Merci !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #15 - 16/03/2022</h6><h2 class="title">Un partenaire de plus !</h2>
                  <h5 class="description">L'agence <a href="https://www.visual.fr/magasin/86-buxerolles-optique-buxerolles/" target="_blank">VISUAL</a> nous rejoint en tant que partenaire ! Nous les en remercions.</h5>
                  <h5 class="description">VISUAL est un opticien lunetier dont l'agence est située au 3 rue de l'Hôtel de Ville - 86180 BUXEROLLES. N'hésitez pas à aller les voir !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jours #13 et #14 - 12 & 13/03/2022</h6><h2 class="title">Tournoi de Badminton - ESBB86</h2>
                  <h5 class="description">Pendant le week-end du 12 et 13 Mars 2022, nous avons tenu un stand de vente de crêpes, de vêtements et de bières à l'occasion d'un tournoi de Badminton organisée par le club de Buxerolles (ESBB86).</h5>
                  <h5 class="description">Ce fut pour nous l'occasion de parler de notre projet et de présenter la ligne de vêtements dont nous vous parlions il y a quelques semaines. Nous remercions le club de Buxerolles pour leur accueil.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #12 - 18/02/2022</h6><h2 class="title">Une ligne de vêtements</h2>
                  <h5 class="description">En relation avec la société <a href="https://www.barooder.fr/" target="_blank">Barooder</a>, nous avons réfléchi à vous proposer quelques vêtements. Nous venons de recevoir les premiers prototypes (t-shirt, sweatshirt et casquette). On procède à quelques ajustements et on vous présente tout ça !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #11 - 19/01/2022</h6><h2 class="title">Un nouveau partenaire !</h2>
                  <h5 class="description">Le Garage Xavier Peltier basé à Danger-Saint-Romain (86220) a pris la belle décision de réviser/réparer notre Peugeot 205 ! Ce garage va prendre en charge les réparations nécessaires à notre départ, on ne vous cache pas que cette démarche nous soulage grandement.</h5>
                  <h5 class="description">Pour info, on a baptisé notre voiture Victoria, certains sauront pourquoi ... 😊</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #10 - 05/01/2022</h6><h2 class="title">Une bonne année et un nouveau partenaire !</h2>
                  <h5 class="description">Tout d'abord, nous voulions commencer par vous souhaiter une merveilleuse année 2022, pleine de bonnes choses !</h5>
                  <h5 class="description">Ensuite, nous vous annonçons que le restaurant Oscar Café, basé à LEUCATE (11370) et tenu par Caroline, nous soutient financièrement. Merci à elle !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #9 - 17/12/2021</h6><h2 class="title">Nous brassons notre bière !</h2>
                  <h5 class="description">Pour l'occasion, nous avons choisi de brasser notre propre bière. Le brassage vient de démarrer et, une fois que le processus de fermentation sera fini, nous les proposerons à la vente ! On ne vous cache pas qu'on a hâte de les goûter.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #8 - 06/12/2021</h6><h2 class="title">Nouveau partenaire !</h2>
                  <h5 class="description">La société <a href="https://abcosmetique.com/" target="_blank">AB COSMÉTIQUE</a>, producteur et distributeur de cosmétiques et d'accessoires de beauté, a choisi de participer à notre aventure en nous aidant financièrement. Un grand merci à eux !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #7 - 01/10/2021</h6><h2 class="title">Notre premier partenaire !</h2>
                  <h5 class="description">La société <a href="https://www.fiducial.fr/" target="_blank">FIDUCIAL</a>, leader dans le service aux petites entreprises, a décidé de nous accompagner financièrement. Un grand merci à eux pour leur confiance !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #6 - 20/09/2021</h6><h2 class="title">Pré-inscription validée !</h2>
                  <h5 class="description">Ce matin, nous avons reçu le courrier que nous attendions avec impatience ... La confirmation que notre pré-inscription était validée !</h5>
                  <h5 class="description">Cela signifie que notre place dans l'édition 2022 est assurée, sous réserve que nous arrivions à rassembler l'argent nécessaire et que notre voiture veuille bien nous suivre.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #5 - 04/09/2021</h6><h2 class="title">Collecte de fournitures scolaires</h2>
                  <h5 class="description">Nous avons organisé, grâce au magasin Bureau Vallée de Saint-Benoît (Vienne), une collecte de fournitures scolaires.</h5>
                  <h5 class="description">Cet événement fut pour nous l'opportunité de parler de notre projet mais également l'occasion de voir la générosité des différentes personnes que nous avons croisées.</h5>
                  <h5 class="description">Cette collecte de fournitures scolaires est un succès pour nous et notre projet car, alors que l'organisation de l'Europ'Raid demande d'apporter 70 kg de matériels, nous avons d'ores et déjà collecté 95 kg de fournitures scolaires ! Nous souhaitons remercier chaleureusement le magasin Bureau Vallée de Saint-Benoît ainsi que toute son équipe qui nous a permis d'organiser cette collecte. Nous remercions bien évidemment tous les clients du magasin que nous avons rencontrés aujourd'hui et qui nous ont donné toutes ces fournitures.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #4 - 01/09/2021</h6><h2 class="title">Envoi du dossier de pré-inscription</h2>
                  <h5 class="description">Les pré-inscriptions sont ouvertes ! Nous avons donc terminé notre dossier et l'avons posté ce matin. On croise les doigts pour qu'il soit accepté !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #3 - 27/06/2021</h6><h2 class="title">Création de notre site Web</h2>
                  <h5 class="description">Puisque nous souhaitons communiquer avec vous de la meilleure des façons, nous avons choisi de créer notre propre site Web. Vous y trouverez quelques informations concernant l'événement, mais également tout ce qui est nécessaire pour nous sponsoriser ou faire un don à notre association.</h5>
                  <h5 class="description">Par ailleurs, au fur et à mesure de notre progression dans cette aventure, nous alimenterons cette page que nous tiendrons comme un véritable journal de bord.</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #2 - 25/05/2021</h6><h2 class="title">Publication au Journal Officiel</h2>
                  <h5 class="description">La création de notre association est désormais officielle ! Sa publication au <a href="https://www.journal-officiel.gouv.fr/associations/detail-annonce/associations_b/20210021/1889" target="_blank">Journal Officiel</a> vient d'être réalisée.</h5>
                  <h5 class="description">Prochaine étape : ouvrir un compte bancaire et démarcher de potentiels sponsors !</h5>
              </div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <h6>Jour #1 - 15/05/2021</h6><h2 class="title">Enregistrement de l'association RAID HORIZON</h2>
                  <h5 class="description">C'est le (premier) grand jour ! Après plusieurs réunions pour nous organiser, définir ce dont nous avions besoin, nous venons de déclarer notre association. C'est le premier pas vers cette nouvelle aventure. Nous avons donc choisi de nommer notre association "RAID HORIZON" !</h5>
              </div>
          </div>
          <hr/>
      </div>
  </div>

</div>
