<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.instagram.com/raid.horizon" target="_blank"><i class="fa fa-instagram"></i>Suivez-nous sur Instagram</a></li>
                    <li><a href="https://www.facebook.com/raid.horizon" target="_blank"><i class="fa fa-facebook"></i>Suivez-nous sur Facebook</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} Raid Horizon. Inspiré par le modèle <a href="https://www.creative-tim.com/product/paper-kit-2" target="_blank">Paper Kit 2</a> de Creative Tim <i class="fa fa-heart heart"></i>
                </span>
            </div>
        </div>
    </div>
</footer>
