<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/louvre.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Nous soutenir</h1>
            <h3>Parce que cette aventure ne pourrait pas exister sans vous, nous faisons appel à votre générosité.</h3>
        </div>
    </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">

          <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <h2 class="title">Pourquoi avoir besoin de sponsors ?</h2>
                  <h5 class="description">Notre participation nécessite une grande préparation pour réunir à la fois les fournitures scolaires et sportives qui sont au cœur de cette aventure, mais il faut également disposer d'une Peugeot 205 unique pour l'occasion.</h5>
                  <br/>
                  <p>Nous comptons donc sur vous pour nous aider et nous permettre de participer à cette grande aventure humaine et mécanique.</p>
                  <br>
                  <p>Si vous souhaitez nous accompagner, <a href="mailto:aide@raid-horizon.fr">écrivez-vous un petit email</a> et nous vous recontacterons !</p>
              </div>
          </div>
          <br/><br/>

          <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <h2 class="title">Pourquoi choisir de nous sponsoriser ?</h2>
                  <h5 class="description">C'est une question légitime : que cela m'apporte-t-il de sponsoriser une association ?</h5>
                  <br/>
                  <p>Dès l'instant où vous ferez ce choix, nous nous engageons à parler de vous autour de nous et lors de nos diverses représentations et ce, jusqu'à la fin de l'événement. Que vous soyez une petite entreprise ou une grande organisation déjà connue, l'objectif est de s'associer à un événement qui porte des valeurs humaines et de partage.</p>
                  <br>
                  <p>Vous partagerez cette belle aventure avec nous et nous ferons le maximum pour mettre en avant votre entreprise.</p>
              </div>
          </div>
          <br/><br/>

          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h2 class="title">Puis-je faire un don à votre association ?</h2>
                  <p>Si vous souhaitez juste nous aider financièrement, vous pouvez faire un don via notre campagne Helloasso.</p>
                  <p>Helloasso permet aux associations de mettre en place des campagnes de dons où 100% des dons faits sont reversés à l'association.</p>
                  <a href="https://www.helloasso.com/associations/raid-horizon/collectes/europ-raid-2022" target="_blank" class="btn btn-primary btn-round">Je fais un don <i class="fa fa-heart"></i></a>
              </div>
          </div>


          <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Dépenses prévisionnelles</h2>
                </div>
          </div>

          <br/><br/>

          <div class="col-md-12">
            <table class="table">
              <thead class="text-left">
                <tr>
                  <th class="text-center">#</th>
                  <th>Intitulé</th>
                  <th>Description</th>
                  <th class="text-center">Coût</th>
                </tr>
              </thead>
              <tbody class="text-left">
                <tr>
                  <td class="text-center">1</td>
                  <td>Inscription à l'EUROP'RAID</td>
                  <td>Frais d'inscription</td>
                  <td class="text-center">2 800€</td>
                </tr>
                <tr>
                  <td class="text-center">2</td>
                  <td>Achat du véhicule</td>
                  <td>Acquisition d'une Peugeot 205</td>
                  <td class="text-center">1 000€</td>
                </tr>
                <tr>
                  <td class="text-center">3</td>
                  <td>Préparation du véhicule</td>
                  <td>Réparations, carte grise, contrôle technique</td>
                  <td class="text-center">1 000€</td>
                </tr>
                <tr>
                  <td class="text-center">4</td>
                  <td>Assurances</td>
                  <td>Assurance du véhicule, assurance rapatriement</td>
                  <td class="text-center">450€</td>
                </tr>
                <tr>
                  <td class="text-center">5</td>
                  <td>Frais de circulation</td>
                  <td>Carburant, péages, stationnements</td>
                  <td class="text-center">1 500€</td>
                </tr>
                <tr>
                  <td class="text-center">6</td>
                  <td>Frais administratifs</td>
                  <td>Divers frais administratifs</td>
                  <td class="text-center">100€</td>
                </tr>
                <tr>
                  <td class="text-center">7</td>
                  <td>Communication, marketing</td>
                  <td>Achats de biens ou services destinés à la vente</td>
                  <td class="text-center">400€</td>
                </tr>
                <tr>
                  <td class="text-center">8</td>
                  <td>Imprévus</td>
                  <td>Divers frais annexes</td>
                  <td class="text-center">300€</td>
                </tr>
                <tr>
                  <td class="text-center">9</td>
                  <td>Fournitures scolaires ou sportives</td>
                  <td>Acquisition des fournitures à apporter</td>
                  <td class="text-center">700€</td>
                </tr>
                <tr>
                  <td class="text-center">10</td>
                  <td>Frais de vie courante</td>
                  <td>Alimentation, hébergement, ...</td>
                  <td class="text-center">450€</td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-right"><b>Total :</b></td>
                  <td class="text-center"><b>8 700€</b></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Recettes prévisionnelles</h2>
                </div>
          </div>

          <br/><br/>

          <div class="col-md-12">
            <table class="table">
              <thead class="text-left">
                <tr>
                  <th class="text-center">#</th>
                  <th>Intitulé</th>
                  <th>Description</th>
                  <th class="text-center">Montant</th>
                </tr>
              </thead>
              <tbody class="text-left">
                <tr>
                  <td class="text-center">1</td>
                  <td>Partenaires</td>
                  <td>Sponsoring (emplacements publicitaires)</td>
                  <td class="text-center">7 000€</td>
                </tr>
                <tr>
                  <td class="text-center">2</td>
                  <td>Dons en nature</td>
                  <td>Divers dons en nature (fournitures scolaires ou sportives)</td>
                  <td class="text-center">700€</td>
                </tr>
                <tr>
                  <td class="text-center">3</td>
                  <td>Dons pécuniaires</td>
                  <td>Divers dons (via la campagne de financement participatif HelloAsso)</td>
                  <td class="text-center">500€</td>
                </tr>
                <tr>
                  <td class="text-center">4</td>
                  <td>Ventes</td>
                  <td>Recettes liées aux ventes de produits dérivés</td>
                  <td class="text-center">500€</td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-right"><b>Total :</b></td>
                  <td class="text-center"><b>8 700€</b></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="row">
              <div class="col-md-12">
                  <h2 class="title">Qui sont nos sponsors ?</h2>
                  <h5 class="description">Ils nous font confiance et nous les remercions chaleureusement !</h5>
                  <br>

                  <div class="col-md-6 download-area ml-auto mr-auto">
                      <a href="https://www.groupe-rocher.com/" target="_blank" class="btn btn-rocher btn-round">GROUPE ROCHER</a>
                      <a href="https://www.sncf.com/fr" target="_blank" class="btn btn-sncf btn-round">SNCF</a>
                      <a href="https://www.lvmh.fr/" target="_blank" class="btn btn-lvmh btn-round">LOUIS VUITTON</a>
                      <a href="https://www.pernod-ricard.com/fr" target="_blank" class="btn btn-pernod-ricard btn-round">PERNOD RICARD</a>
                  </div>
              </div>
          </div> -->

        <br/><br/>

        <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <h2 class="title">Répartition des emplacements publicitaires</h2>
                  <h5 class="description">Voici la répartition des différents emplacements sur lesquels nous pourrons peut-être afficher votre marque.</h5>
                  <p>Nous mettrons à jour les emplacements qui ont été réservés au fur et à mesure et ce, afin de vous donner la meilleure visibilité sur les possibilités restantes.</p>
              </div>
        </div>

        <div class="card card-profile">
          <img class="card-img" src="./assets/img/peugeot-205-sponsor.png" alt=""/>
        </div>

        <div class="col-md-12">
          <p class="text-muted"><i>Ce schéma n'a pas valeur contractuelle.</i></p>
          <p class="text-muted"><i>La taille réelle des emplacements publicitaires ne correspond pas précisément à ce qui est représenté sur ce schéma.</i></p>
        </div>

        <br/><br/>

        <div class="row">
          <div class="col-md-3">
            <div class="card card-just-text" style="background-color: rgba(255, 0, 102, 100);">
              <div class="card-body">
                <h6 class="card-category">Rouge</h6>
                <h4 class="card-title">450€</h4>
                <p class="card-description">
                  2 emplacements disponibles.<br/>
                  De part et d'autre de notre logo, ces emplacements vous assurent une visibilité constante et importante.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-just-text" style="background-color: rgba(255, 0, 255, 100);">
              <div class="card-body">
                <h6 class="card-category">Rose</h6>
                <h4 class="card-title">350€</h4>
                <p class="card-description">
                  8 emplacements disponibles.<br/>
                  Sur les portes arrière ? On vous remarquera très rapidement !
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-just-text" style="background-color: rgba(255, 255, 0, 100);">
              <div class="card-body">
                <h6 class="card-category">Jaune</h6>
                <h4 class="card-title">250€</h4>
                <p class="card-description">
                  4 emplacements disponibles.<br/>
                  Au niveau des passages de roues avant, vous serez toujours les premiers à être vus !
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-just-text" style="background-color: rgba(0, 204, 255, 100);">
              <div class="card-body">
                <h6 class="card-category">Bleu</h6>
                <h4 class="card-title">150€</h4>
                <p class="card-description">
                  8 emplacements disponibles.<br/>
                  Même si ce n'est pas une course, il y aura forcément du monde derrière nous à contempler votre marque.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-just-text" style="background-color: rgba(255, 102, 0, 100);">
              <div class="card-body">
                <h6 class="card-category">Orange</h6>
                <h4 class="card-title">550€</h4>
                <p class="card-description">
                  2 drapeaux disponibles.<br/>
                  Là, on fait fort ! À l'image d'une voiture diplomatique, nous serons vos véritables ambassadeurs tout au long de cette aventure.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-just-text" style="background-color: rgba(0, 128, 0, 100);">
              <div class="card-body">
                <h6 class="card-category">Vert</h6>
                <h4 class="card-title">Espaces réservés</h4>
                <p class="card-description">
                  Les espaces colorés en vert sur le schéma sont réservés à l'organisation de l'EUROP'RAID et à l'affichage de notre propre logo.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <p class="text-muted"><i>Chaque prix mentionné correspond au prix unitaire d'un emplacement publicitaire.</i></p>
          </div>
        </div>

    </div>
  </div>
</div>
